*{
    padding: 0;
    margin: 0;

}

body{
    background: #fff;
    width: 375px;
    justify-content: center;
}

.header {
    width: 375px;
    background-color: #fff;
    display: flex;
    height: 48px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 20px;
    font-size: 18px;
    color: rgba(96, 112, 255, 1);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 20px;
}

.intro{
    font-family: poppins,sans-serif;
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;
    color: rgba(23, 43, 77, 1);

}

.headline .content{
    margin-top: -520px;
    padding: 25px;

}
.headline .content img{
   padding-top: 10px;
}

.bio{
    margin-top: 15px;
    font-family: poppins,sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: rgba(52, 69, 99, 1);
}

.connect{
    width: 117;
    height: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
font-family: Poppins;
font-size: 16px;
font-weight: 500;
line-height: 24px;
text-align: left;
color: #7F8CFF;


}

.bkgd-img{
    width: (375px)px;
    height: Hug (604px)px;
    top: 92px;
    gap: 12px;
    opacity: 0px;
   
}